<a id="create-pdf-template" href="<?php echo $block->createNewTemplate(); ?>">Create New Template</a>
<style>
    #create-pdf-template{
        padding-left: calc( (100%) * .25 + 8px);
        display: block;
        margin-top: -42px;
    }
</style>
