<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$productType = $product->getTypeId();
$url = $product->getProductUrl();
?>

<?php if ($product->isVisibleInSiteVisibility()): ?>
    <?php if ($productType != 'ticket') { ?>
        <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getItemConfigureUrl($item) ?>">
            <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
        </a>
    <?php } else { ?>
        <a class="action edit" href="<?php /* @escapeNotVerified */ echo $url ?>">
            <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
        </a>
    <?php } ?>
<?php endif ?>
