<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\Catalog\Model\Product $_product */
$_product = $objectManager->get('Magento\Framework\Registry')->registry('current_product'); ?>

<img src="<?= $objectManager->get('\Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) .'catalog/product'.$_product->getImage(); ?>" alt="" style="display: none;">

<div class="product-info-main">
    <h1 class="page-title"><span><?= $_product->getName(); ?></span></h1>


    <?php /** @var $RatingOb \Magento\Review\Model\Rating */ ?>
    <?php
    $RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary($_product->getId());
    if($RatingOb->getCount()>0) {
        $ratings = $RatingOb->getSum() / $RatingOb->getCount();
        $ratingCount = $RatingOb->getCount();
    } else{
        $ratings = 0;
        $ratingCount = 0;
    }
    ?>
    <div class="rating">
        <p class="star">
            <span class="prd-star" style="width: <?php echo $ratings; ?>%;"></span>
        </p>
        <span style="display: none;"><?php echo '('.$ratingCount.')'; ?></span>
    </div>
    <div class="product-reviews-summary">
        <div class="rating-summary">
            <span class="label" style="display:none;"><span>Rating:</span></span>
            <div class="rating-result" title="<?php echo $ratings; ?>%">
                <span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
            </div>
        </div>
        <div class="reviews-actions">
            <a class="action add" href="<?= $_product->getProductUrl();?>#reviews">Add Your Review</a>
        </div>
    </div>
</div>

<div class="eventproduct-images">
    <div class="eventproduct-images__carousel owl-carousel owl-theme">
        <?php if ($_product->getImage() == "no_selection" || $_product->getImage() == NULL){ ?>
            <div class="eventproduct-image"></div>
        <?php } else{
            $images = $_product->getMediaGalleryImages();
            foreach ($images as $image) { ?>
                <div class="eventproduct-image" style="background-image: url('<?php echo($image->getUrl());?>')">
                    <img src="<?php echo($image->getUrl());?>" alt="" style="display: none;">
                </div>
            <?php }
        }?>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magenest_Ticket/js/owl.carousel'
    ], function ($) {
        'use strict';
        $('.eventproduct-images__carousel').owlCarousel({
            items:1,
            loop:true,
            nav:false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true
        })
    });
</script>