<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */ ?>
<?php /** @var $block \Magenest\Ticket\Block\Product\Register */ ?>
<?php if ($block->allowRegister()) : ?>
    <input id="ticket_register" name="ticket_register" type="hidden" value="">
    <input id="qty_before" type="hidden" value="">
    <a id="register_tickets" style="margin-bottom: 20px;display: inline-block"><span>Register Tickets</span></a>
    <div id="popup-modal" style="display: none">
        <div class="field note no-label"><?php echo $block->getCustomerWellcome(); ?></div>
        <fieldset class="fieldset">

            <div class="field first_name required">
                <label class="label" for="first_name"><span>First Name</span></label>
                <div class="control">
                    <input name="first_name_customer" id="first_name" class="input-text register_input input_customer"
                           value="<?php echo $block->getCustomerFirstName(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
            <div class="field last_name required">
                <label class="label" for="last_name_customer"><span>Last Name</span></label>
                <div class="control">
                    <input name="last_name_customer" id="last_name" class="input-text register_input input_customer"
                           value="<?php echo $block->getCustomerLastName(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
            <div class="field email required">
                <label class="label" for="emai_customer"><span>Email Address</span></label>
                <div class="control">
                    <input name="email_customer" id="email"
                           class="input-text register_input register_email input_customer"
                           value="<?php echo $block->getCustomerEmail(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
        </fieldset>

        <br>
        <fieldset class="fieldset">
            <legend class="legend"><span>Ticket 1 </span></legend>
            <br>
            <div class="field first_name required">
                <label class="label" for="first_name_1"><span>First Name</span></label>
                <div class="control">
                    <input name="first_name_1" id="first_name_1" class="register_input input-text"
                           value="<?php echo $block->getCustomerFirstName(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
            <div class="field last_name required">
                <label class="label" for="last_name_1"><span>Last Name</span></label>
                <div class="control">
                    <input name="last_name_1" id="last_name_1" class="register_input input-text"
                           value="<?php echo $block->getCustomerLastName(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
            <div class="field email required">
                <label class="label" for="email_1"><span>Email Address</span></label>
                <div class="control">
                    <input name="email_1" id="email_1" class="input-text register_input register_email"
                           value="<?php echo $block->getCustomerEmail(); ?>"
                           data-validate="{required:true}" aria-required="true" type="text" required>
                </div>
            </div>
        </fieldset>
        <div id="tickets_information">
        </div>
    </div>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function ($, modal) {

                $(".input_customer").change(function () {
                    var id = $(this).attr('id');
                    if (id == "email")
                        if (!isValidEmailAddress($(this).val()))
                            return;
                    $("#" + id + "_1").val($(this).val());
                });
                <?php if ($block->isRegisterRequired()) : ?>
                $("#product-addtocart-button").click(function (evt) {
                    evt.preventDefault();
                    if ($('#ticket_register').val() == "") {
                        $("#register_required").remove();
                        $('#ticket_register').after('<div style="color: red;" id="register_required">Please register your information first!</div>');
                        return false;
                    }
                    $("#product_addtocart_form").trigger('submit');

                });

                <?php endif; ?>
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Your Information',
                    buttons: [{
                        text: $.mage.__('Complete Registration'),
                        id: "complete_register",
                        click: function () {
                            $(".register_input").each(function () {
                                if ($(this).val() == "") {
                                    $(this).next().remove();
                                    $(this).after('<div style="color: red;" class="error-required">This is a required field.</div>');
                                } else {
                                    if ($(this).attr("id").indexOf("email") == -1)
                                        $(this).next().remove();
                                    else if (isValidEmailAddress($(this).val()))
                                        $(this).next().remove();
                                    else {
                                        $(this).next().remove();
                                        $(this).after('<div style="color: red;" class="error-email">Please enter a valid email address (Ex: johndoe@domain.com).</div>');
                                    }
                                }
                            });
                            if ($(".error-email").length == 0 && $(".error-required").length == 0) {
                                var ticketNumber = parseInt($("#qty").val());
                                var data = [];
                                for (var i = 1; i <= parseInt(ticketNumber); i++) {
                                    var ticket = {
                                        fn: $("#first_name_" + i).val(),
                                        ln: $("#last_name_" + i).val(),
                                        e: $("#email_" + i).val()
                                    };
                                    data.push(ticket);
                                }
                                $("#ticket_register").val(JSON.stringify(data));
                                this.closeModal();
                                $("#register_required").remove();
                                alert("Your subscription is saved.");
                            }
                        }
                    }]
                };

                <?php if ($block->isRegisterRequired()) :?>
                $("#product-addtocart-button").attr("disabled");

                <?php endif; ?>
                function isValidEmailAddress($emailAddress) {
                    var pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return pattern.test($emailAddress);
                }

                $(".register_email").change(function () {
                    var email = $(this).val();
                    if (isValidEmailAddress(email)) {
                        $(this).next().remove();
                    }
                    else {
                        $(this).next().remove();
                        $(this).after('<div style="color: red;" class="error-email">Please enter a valid email address (Ex: johndoe@domain.com).</div>');
                    }
                });
                $("#qty_before").val($("#qty").val());

                function addTicketRegister(start, number) {
                    var copy = "";
                    for (var j = 1; j < start + number; j++) {
                        copy += "<option value='" + j + "'>Ticket " + j + "</option>"
                    }
                    for (var i = start; i < number + start; i++) {
                        $("#tickets_information").append(
                            '<fieldset class="fieldset">' +
                            '<legend class="legend"><span>Ticket ' + i + ' </span></legend><br>' +
                            '<div class="field">' +
                            '<label class="label"><span>Copy data from</span></label>' +
                            '<div class="control">' +
                            '<select class="copyData" id="copyData_' + i + '">' +
                            '<option>Select ...</option>' + copy +
                            '</select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="field first_name required">' +
                            '<label class="label" for="first_name_' + i + '">' +
                            '<span>First Name</span>' +
                            '</label>' +
                            '<div class="control">' +
                            '<input name="first_name_' + i + '" id="first_name_' + i + '" class="input-text register_input" type="text" data-validate="{required:true}" aria-required="true" required>' +
                            '</div>' +
                            '</div>' +
                            '<div class="field last_name required">' +
                            '<label class="label" for="last_name_' + i + '">' +
                            '<span>Last Name</span>' +
                            '</label>' +
                            '<div class="control">' +
                            '<input name="last_name_' + i + '" id="last_name_' + i + '" class="input-text register_input" type="text" data-validate="{required:true}" aria-required="true" required>' +
                            '</div>' +
                            '</div>' +
                            '<div class="field email required">' +
                            '<label class="label" for="email_' + i + '">' +
                            '<span>Email Address</span>' +
                            '</label>' +
                            '<div class="control">' +
                            '<input name="email_' + i + '" id="email_' + i + '" class="input-text register_email register_input" type="text" data-validate="{required:true}" aria-required="true" required>' +
                            '</div>' +
                            '</div>' +
                            '</fieldset><br>');
                    }
                    $(".copyData").change(function () {
                        var selected = $(this).val();
                        var pasteTo = $(this).attr("id");
                        pasteTo = pasteTo.substring(9);
                        if (pasteTo != selected) {
                            var firstName = $("#first_name_" + selected).val();
                            var lastName = $("#last_name_" + selected).val();
                            var email = $("#email_" + selected).val();
                            $("#first_name_" + pasteTo).val(firstName);
                            $("#last_name_" + pasteTo).val(lastName);
                            $("#email_" + pasteTo).val(email);
                        }
                    });
                }

                function createRegister(ticketNumber) {
                    if (ticketNumber > 0 && ticketNumber < 100) {
                        $("#tickets_information").html("");
                        addTicketRegister(2, ticketNumber - 1);
                    }
                }

                var popup = modal(options, $('#popup-modal'));
                $("#register_tickets").click(function () {
                    $('#popup-modal').modal('openModal');
                    var ticketNumber = parseInt($("#qty").val());
                    var qtyBefore = parseInt($("#qty_before").val());
                    var registers = $("#ticket_register").val();
                    if (registers != "") {
                        registers = JSON.parse(registers);
                        if (ticketNumber > registers.length && ticketNumber != qtyBefore) {
                            addTicketRegister(registers.length + 1, ticketNumber - registers.length);
                        } else if (ticketNumber < registers.length) {
                            createRegister(ticketNumber);
                        }
                    }
                    else
                        createRegister(ticketNumber);
                    $("#qty_before").val(ticketNumber);

                });
            }
        );
    </script>
<?php endif; ?>
