<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */?>
<?php /** @var $block \Magenest\Ticket\Block\Product\Single */ ?>

<?php
$event = $block->getEvent();
?>

<?php foreach ($block->getLocation() as $location) {
    $locationDetail = $location->getLocationDetail();
    $locationTitle = $location->getLocationTitle();
    $locationId = $location->getLocationId();
}?>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
<div class="product-event__location">
    <h3 class="product-event__boxlabel">Location</h3>
    <div class="product-event__boxcontent">
        <p><?= $locationTitle; ?></p>
        <p><?= $locationDetail; ?></p>
        <p><a href="#ticket-options" class="more-choices">More Choices</a><a href="#ticket_option_single" class="view-map">View Map</a></p>
    </div>
</div>
<div id="ticket_option_single">
    <div class="fieldset_location">
        <label class="label_rule">
            <span><?php echo 'Location:'; ?></span>
        </label>
        <label class="ticket_select_location unique-value" title="<?php echo $locationDetail; ?>">
            <span><?php echo $locationTitle; ?></span>
        </label>
    </div>
    <?php if (sizeof($block->getDate($locationId)) == 1) { ?>
        <div class="fieldset_date">
            <?php
            $dateOption = $block->getDate($locationId);
            foreach ($dateOption as $date) {
                $startDate = '';
                if (!empty($date->getDateStart())) {
                    $startDate = trim(date("d-m-Y", strtotime(substr($date->getDateStart(), 0, 10))));
                }
                $startEnd = '';
                if (!empty($date->getDateEnd())) {
                    $startEnd = trim(date("d-m-Y", strtotime(substr($date->getDateEnd(), 0, 10))));
                }
                $dateId = $date->getDateId();
            }
            ?>
            <label class="label_rule"><span><?php echo 'Date: '?> </span></label>
            <label class="ticket_select_date unique-value">
                <span style="text-align: center;">
                    <?php if ($startDate == $startEnd) {?>
                        <?php echo $startDate; ?>
                    <?php } else { ?>
                    <?php if (!empty($startDate)) {?>
                        <?php echo 'From '.$startDate.' '; ?>
                    <?php } ?>
                    <?php if (!empty($startEnd)) {?>
                        <?php echo 'to '.$startEnd.' '; ?>
                    <?php } ?>
                    <?php } ?>
                </span>
            </label>
        </div>
        <?php if (sizeof($block->getSession($dateId)) == 1) {?>
            <div class="fieldset_session">
                <?php
                $sessionOption = $block->getSession($dateId);
                foreach ($sessionOption as $session) {
                    $startSession = $session->getStartTime();
                    $endSession = $session->getEndTime();
                    $sessionId = $session->getSessionId();
                }
                ?>
                <div class="select_session-box">
                    <label class="label_rule"> <span>Time</span> </label>
                    <label class="ticket_select_session unique-value">
                        <span>
                        <?php if (isset($startSession) && !empty($startSession)) {?>
                            <?php echo $startSession; ?>
                        <?php } ?>
                        <?php if (isset($endSession) && !empty($endSession)) {?>
                            <?php echo ' - '.$endSession.' '; ?>
                        <?php } ?>
                        </span>
                    </label>
                    <?php if($block->isEnabelAddToCalendar()):?>
                    <div title="Add to Calendar" class="addeventatc">
                        Add to Calendar
                        <span class="start"><?= $startDate . " " .$startSession?></span>
                        <span class="end"><?= $startEnd . " " .$endSession?></span>
                        <span class="title"><?= $event->getData('event_name')?></span>
                        <span class="location"><?= $locationTitle?></span>
                    <?php endif;?>
                    </div>
                </div>
            </div>
            <input id="single_session" class="single_session" value="<?php echo $sessionId; ?>" style="display: none">
        <?php } elseif (sizeof($block->getSession($dateId)) > 1) {?>
            <div class="multi_session fieldset_session" id="multi_session" name="multi_session" tabindex="0">
                <label class="label_rule">
                    <span><?php echo __('Select Time'); ?></span>
                </label>
                <div class="field required">
                    <div class="control">
                        <?php  $i =0; ?>
                        <?php  $dataSession = $block->getSession($dateId); ?>
                        <?php foreach ($dataSession as $sessions) {
                            $startTime = '';
                            if (!empty($sessions->getStartTime())) {
                                $startTime = $sessions->getStartTime();
                            }
                            $endTime = '';
                            if (!empty($sessions->getEndTime())) {
                                $endTime = ' - '.$sessions->getEndTime();
                            }
                            $time = $startTime.$endTime;
                            $sessionId = $sessions->getSessionId();
                            ?>
                            <div class="multi_session-box">
                                <input type="radio" name="ticket_multi_session" id="multi_session-<?php echo $sessionId; ?>" value="<?php echo $sessionId; ?>" style="display: none;">
                                <label for="multi_session-<?php echo $sessionId; ?>"><?php echo $time; ?></label>

                                <?php if($block->isEnabelAddToCalendar()):?>
                                <div title="Add to Calendar" class="addeventatc">
                                    Add to Calendar
                                    <span class="start"><?= $startDate . " " .$sessions->getStartTime()?></span>
                                    <span class="end"><?= $startEnd . " " .$sessions->getEndTime()?></span>
                                    <span class="title"><?= $event->getData('event_name')?></span>
                                    <span class="location"><?= $locationTitle?></span>
                                </div>
                                <?php endif;?>
                            </div>

                        <?php }?>
                    </div>
                </div>
            </div>
        <?php } ?>
        <input id="single_date" class="single_date" value="<?php echo $dateId; ?>" style="display: none">
    <?php } elseif (sizeof($block->getDate($locationId)) > 1) {?>
        <div class="fieldset_date change_date" id="change_date" name="change_date" tabindex="0">
            <label class="label_rule">
                <span><?php echo __('Select Date'); ?></span>
            </label>
            <div class="field required">
                <div class="control">
                    <?php $i =0; ?>
                    <?php  $dataDate = $block->getDate($locationId); ?>
                    <?php foreach ($dataDate as $dates) {
                        $start = 'no limit';
                        $end = 'no limit';

                        if (!empty($dates->getDateStart())) {
                            $dateStart = substr($dates->getDateStart(), 0, 10);
                            $start = trim(date("d-m-Y", strtotime($dateStart)));
                        }
                        if (!empty($dates->getDateEnd())) {
                            $dateEnd = substr($dates->getDateEnd(), 0, 10);
                            $end = trim(date("d-m-Y", strtotime($dateEnd)));
                        }
                        if (substr($dates->getDateStart(),0,10) == substr($dates->getDateEnd(),0,10)){
                            $dateEnd = substr($dates->getDateEnd(), 0, 10);
                            $dateStr = trim(date("d-m-Y", strtotime($dateEnd)));
                        }
                        else {
                            $dateStr = 'From ' . $start . ' To ' . $end;
                        }
                        $dateId = $dates->getDateId();
                    ?>

                        <input type="radio" name="ticket_change_date" id="ticket_change_date-<?php echo $dateId; ?>" value="<?php echo $dateId; ?>" style="display:none;">
                        <label for="ticket_change_date-<?php echo $dateId; ?>"><span style="text-align: center;"><?php echo $dateStr; ?></span></label>

                    <?php }?>
                </div>
            </div>
        </div>
        <div class="change_session" id="change_session" name="change_session" tabindex="0">
        </div>
    <?php } ?>
    <iframe width="100%"  height="350" frameborder="1" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<?php echo $block->getGoogleApiKey()?>&q=<?php echo str_replace(' ', '+', $locationTitle.' '.$locationDetail)?>" allowfullscreen></iframe>

</div>
<input id="change_ticket_location" name="additional_options[single][ticket_location]" value="<?php echo $locationId; ?>" style="display: none">
<input id="change_ticket_date" name="additional_options[single][ticket_date]" value=""  style="display: none">
<input id="change_ticket_session" name="additional_options[single][ticket_session]" value="" style="display: none">
<script>
    require([
        "jquery",
        "jquery/ui"
    ], function (
        $
    ) {
        'use strict';
        var changeDate = 'input[name="ticket_change_date"]';
        var changeSession = 'input[name="ticket_multi_session"]';
        var returnSession = '<?php echo $block->getReturnSession(); ?>';
        var singleDate = $('#single_date').val();
        var singleSession = $('#single_session').val();
        if (singleDate > 0) {
            $('#change_ticket_date').attr('value', singleDate);
        }

        if (singleSession > 0) {
            $('#change_ticket_session').attr('value', singleSession);
        }

        $('input[name="ticket_multi_session"]').change(function() {
            $('#change_ticket_session').attr('value', $(this).val());
        });
        $('input[name="ticket_change_date"]').change(function() {
            $("#change_session").empty();
            $('#change_ticket_date').attr('value', $(this).val());
            var dateSendRequest = returnSession + '?date_id=' + $(this).val();
            changeSessionData(dateSendRequest);
        });


        function changeSessionData(dateSendRequest) {

            $.ajax({
                url: dateSendRequest,
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {

                    if (response.length > 1) {

                        var sessionResponseArray = JSON.parse(response);
                        var sessionTemplate = " ";

                        if (sessionResponseArray.length > 0) {
                            if (sessionResponseArray.length <= 1) {
                                sessionTemplate += ' <label class="label_rule">';
                                sessionTemplate += ' <span>' + 'Select Time :' +'</span>';
                                sessionTemplate += ' </label>';
                                sessionTemplate += ' <label class="ticket_change_session unique-value">';
                                sessionTemplate += ' <span>' + sessionResponseArray[0]['time_session']+'</span>';
                                sessionTemplate += ' </label>';
                                $('#change_ticket_session').attr('value', sessionResponseArray[0]['session_id']);
                            } else  {
                                sessionTemplate += ' <label class="label_rule">';
                                sessionTemplate += ' <span>' + 'Select Time' + '</span>';
                                sessionTemplate += ' </label>';
                                sessionTemplate += '<div class="field required">';
                                sessionTemplate += '<div class="control">';
                                for (var i = 0; i < sessionResponseArray.length; i++) {

                                    sessionTemplate += '<input type="radio" name="ticket_change_session" id="change_session-'
                                        + sessionResponseArray[i]['session_id']
                                        + '" value="'
                                        + sessionResponseArray[i]['session_id']
                                        + '" style="display: none;">'
                                        + '<label for="change_session-'
                                        + sessionResponseArray[i]['session_id']
                                        + '">'
                                        + sessionResponseArray[i]['time_session']
                                        + '</label>';

                                }
                                sessionTemplate += '</div>';
                                sessionTemplate += '</div>';
                            }
                            $("#change_session").append(sessionTemplate);
                            $('input[name="ticket_change_session"]').change(function() {
                                $('#change_ticket_session').attr('value', $(this).val());
                            });
                        }
                    }
                },
                showLoader: true
            });
        }
    });
</script>
<style>
    .multi_session-box {
        display: inline-block;
        padding-right: 20px;
    }
    .multi_session-box .addeventatc {
        clear: both;
        display: block;
    }
    .select_session-box {
        display: inline-block;
        padding-right: 20px;
    }
    .select_session-box .addeventatc {
        clear: both;
        display: block;
    }
</style>
