<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */ ?>
<?php /** @var $block \Magenest\Ticket\Block\Product\Ticket */ ?>
<?php
$dataOption = $block->getOptionTicket();
$symbol = $block->getCurrencySymbol();
?>

<?php if ($block->isEventTicketProduct() == true) { ?>
    <div <?php if (sizeof($block->getLocation()) > 1) { ?>class="product-options-container"<?php } ?>
         id="ticket-options">
        <div class="ticket-options-wrapper" id="ticket-options-wrapper" data-hasrequired="* Required Fields">
            <?php if (!empty($block->getLocation()) && $block->canChooseLocation()) { ?>
                <?php if (sizeof($block->getLocation()) == 1) { ?>
                    <?php echo $block->getLayoutSingle(); ?>
                <?php } elseif (sizeof($block->getLocation()) > 1) { ?>
                    <div class="fieldset_location" tabindex="0">
                        <label class="label_rule" for="ticket_select_location">
                            <span><?php echo 'Select Location'; ?></span>
                        </label>
                        <div class="field required">
                            <div class="control">
                                <?php if (!empty($block->getLocation())) : ?>
                                    <?php foreach ($block->getLocation() as $location) : ?>
                                        <input type="radio" name="ticket_select_location"
                                               id="select_location-<?php echo $location->getLocationId(); ?>"
                                               value="<?php echo $location->getLocationId(); ?>" style="display: none;">
                                        <label for="select_location-<?php echo $location->getLocationId(); ?>"
                                               title="<?php echo $location->getLocationDetail(); ?>"><?php echo $location->getLocationTitle(); ?></label>
                                    <?php endforeach ?>
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div class="fieldset_date" id="fieldset_date" tabindex="0">
                </div>
                <div class="fieldset_session" id="fieldset_session" tabindex="0">
                </div>
            <?php } ?>

            <div class="fieldset_form" tabindex="0">
                <?php foreach ($dataOption as $dataOptions) : ?>
                    <?php $dataType = $block->getOptionTypeTicket()
                        ->addFieldToFilter('option_id', $dataOptions->getOptionId()); ?>
                    <?php if ($dataOptions->getOptionInputType() == 'drop_down') : ?>
                        <div class="field  <?php if ($dataOptions->getIsRequired() == 1) {
                            echo 'required';
                        } ?>">
                            <label class="label_rule" for="ticket_select_form">
                                <span><?php echo $dataOptions->getOptionTitle(); ?></span>
                            </label>
                            <div class="control">
                                <select name="additional_options[dropdown][<?php echo $dataOptions->getId(); ?>]"
                                        class="<?php if ($dataOptions->getIsRequired() == 1) {
                                            echo 'required';
                                        } ?> product-custom-option admin__control-select ticket_select_form">
                                    <option value=""><?php echo __('Select ...') ?></option>
                                    <?php if (!empty($dataType->getData())) : ?>
                                        <?php foreach ($dataType as $type) : ?>
                                            <option
                                                    id="ticket_select_<?php echo $type->getId(); ?>"
                                                    class="picker"
                                                    name="drop_down_option"
                                                    value="<?php echo $type->getPrice() . "_" . $type->getId() . "_" . $dataOptions->getId(); ?>"
                                                <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? "disabled" : ""; ?>
                                            >
                                                <?php if (!$block->canChooseLocation()): ?>
                                                    <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice() . " " . $type->getDescription() . " ( " . $type->getLocationTitle() . "-".$type->getLocationAddress()." )"; ?>
                                                <?php else: ?>
                                                    <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice() . " " . $type->getDescription(); ?>
                                                <?php endif; ?>
                                                <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? " - OUT OF DATE" : ""; ?>
                                            </option>
                                        <?php endforeach ?>
                                    <?php endif ?>
                                </select>
                            </div>
                        </div>
                    <?php elseif ($dataOptions->getOptionInputType() == 'checkbox') : ?>
                        <div class="field <?php if ($dataOptions->getIsRequired() == 1) {
                            echo 'required';
                        } ?>">
                            <label class="label_rule" for="ticket_option_checkbox">
                                <span><?php echo $dataOptions->getOptionTitle(); ?></span>
                            </label>
                            <div class="control">
                                <div class="ticket_option_checkbox checkbox-group nested <?php if ($dataOptions->getIsRequired() == 1) {
                                    echo 'required';
                                } ?>" id="ticket_option_checkbox_<?php echo $dataOptions->getId(); ?>">
                                    <?php if (!empty($dataType->getData())) : ?>
                                        <?php foreach ($dataType as $type) : ?>
                                            <div class="field choice admin__field admin__field-option ">
                                                <input
                                                        id="checkbox_option_<?php echo $type->getId(); ?>"
                                                        class="checkbox admin__control-checkbox product-custom-option"
                                                        name="additional_options[checkbox][<?php echo $dataOptions->getId(); ?>][<?php echo $type->getId(); ?>]"
                                                        type="checkbox"
                                                    <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? " disabled " : ""; ?>
                                                        value="<?php echo $type->getPrice() . "_" . $type->getId() . "_" . $dataOptions->getId(); ?>"
                                                >
                                                <label for="checkbox_option_<?php echo $type->getId(); ?>"
                                                    <?php echo $block->isOptionOutOfDate($type->getEndDate()) ?
                                                        "style='text-decoration: line-through;'" : ""; ?>>
                                                    <?php if (!$block->canChooseLocation()): ?>
                                                        <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice() . " ( " . $type->getLocationTitle() . "-".$type->getLocationAddress()." )"; ?>
                                                    <?php else: ?>
                                                        <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice(); ?>
                                                    <?php endif; ?>
                                                </label>
                                                <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? " - OUT OF DATE" : ""; ?>
                                                <?php if ($type->getDescription()) { ?>
                                                    <div class="tooltip">
                                                        <img src="<?php echo $block->getViewFileUrl('Magenest_Ticket::images/icon.png'); ?>"
                                                             width="30" height="30"/>
                                                        <span class="tooltiptext"><?php echo $type->getDescription(); ?></span>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        <?php endforeach ?>
                                    <?php endif ?>
                                    <div generated="true" class="mage-error" style="display: none"
                                         id="ticket_option_checkbox_<?php echo $dataOptions->getId(); ?>-error">Please
                                        select
                                        one of the options above.
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php elseif ($dataOptions->getOptionInputType() == 'radio_buttons') : ?>
                        <div class="field <?php if ($dataOptions->getIsRequired() == 1) {
                            echo 'required';
                        } ?>">
                            <label class="label_rule" for="select_3">
                                <span><?php echo $dataOptions->getOptionTitle(); ?></span>
                            </label>
                            <div class="control">
                                <div class="ticket_option_radio nested">
                                    <div class="field choice admin__field admin__field-option required">
                                        <?php if (!empty($dataType->getData())) : ?>
                                            <?php foreach ($dataType as $type) : ?>
                                                <input id="radio_option_<?php echo $type->getId(); ?>"
                                                       aria-required="true"
                                                       class="radio admin__control-radio  <?php if ($dataOptions->getIsRequired() == 1) {
                                                           echo 'required';
                                                       } ?> product-custom-option"
                                                       name="additional_options[radio][<?php echo $dataOptions->getId(); ?>]"
                                                       type="radio"
                                                    <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? " disabled " : ""; ?>
                                                       value="<?php echo $type->getPrice() . "_" . $type->getId() . "_" . $dataOptions->getId(); ?>"
                                                >
                                                <label for="radio_option_<?php echo $type->getId(); ?>"
                                                    <?php echo $block->isOptionOutOfDate($type->getEndDate()) ?
                                                        "style='text-decoration: line-through;'" : ""; ?>>
                                                    <?php if (!$block->canChooseLocation()): ?>
                                                        <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice() . " ( " . $type->getLocationTitle() . "-".$type->getLocationAddress()." )"; ?>
                                                    <?php else: ?>
                                                        <?php echo $type->getTitle() . " + " . $symbol . " " . $type->getPrice(); ?>
                                                    <?php endif; ?>
                                                </label>
                                                <?php echo $block->isOptionOutOfDate($type->getEndDate()) ? " - OUT OF DATE" : ""; ?>
                                                <?php if ($type->getDescription()) { ?>
                                                    <div class="tooltip">
                                                        <img src="<?php echo $block->getViewFileUrl('Magenest_Ticket::images/icon.png'); ?>"
                                                             width="30" height="30"/>
                                                        <span class="tooltiptext"><?php echo $type->getDescription(); ?></span>
                                                    </div>
                                                <?php } ?>
                                            <?php endforeach ?>
                                        <?php endif ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>
                <?php endforeach ?>
            </div>
        </div>
        <input id="product_ticket_price" name="additional_options[ticket_price]" style="display: none">
        <input id="product_ticket_location" name="additional_options[ticket_location]" style="display: none">
        <input id="product_ticket_date" name="additional_options[ticket_date]" style="display: none">
        <input id="product_ticket_session" name="additional_options[ticket_session]" style="display: none">
        <table>
            <tr>
                <th class="ticket_location_map" id="ticket_location_map">
                </th>
            </tr>
        </table>
    </div>
<?php } ?>

<script>
    require([
        "jquery",
        "jquery/ui"
    ], function ($) {
        'use strict';
        // var selectLocation = 'input[name="ticket_select_location"]';
        var returnDate = '<?php echo $block->getReturnDate(); ?>';
        var returnSession = '<?php echo $block->getReturnSession(); ?>';
        var symbol = '<?php echo $symbol ?>';
        var productPrice = $('.price-wrapper[data-price-type="finalPrice"]').get(0);
        var currentPrice = productPrice.getAttribute("data-price-amount");
        var radio = $(".ticket_option_radio");
        radio = $(radio).find('input');
        var checkbox = $(".ticket_option_checkbox");
        var productPriceTicket = document.getElementById("product_ticket_price");
        // var dropData = document.getElementById("drop_down_data");
        var optionLocation = document.getElementById("product_ticket_location");
        var optionDate = document.getElementById("product_ticket_date");
        var optionSession = document.getElementById("product_ticket_session");
        var apiKey = '<?php echo $block->getGoogleApiKey() ?>';

        //upgrade
        var priceArray = {change: [], append: []};
        //upgrade

        checkbox = $(checkbox).find('input');

        $(".ticket_select_form").change(function () {
            var strDrop = $(this).val();
            if (strDrop == "") {
                var id = $(this).attr("name").substring(29);
                id = id.substring(0, id.indexOf("]"));
                changePriceArray(id, "null");
            } else {
                var resDrop = strDrop.split("_");
                changePriceArray(resDrop[2], resDrop[0]);
            }
        });

        function changePriceArray(idOption, newPriceOfOption) {
            var newPriceForProduct = currentPrice;
            if (priceArray.change[idOption] !== undefined) {
                if (newPriceOfOption === "null") {
                    newPriceForProduct = parseFloat(newPriceForProduct) - parseFloat(priceArray.change[idOption]);
                    delete priceArray.change[idOption];
                }
                else {
                    newPriceForProduct = parseFloat(newPriceForProduct) - parseFloat(priceArray.change[idOption]) + parseFloat(newPriceOfOption);
                    priceArray.change[idOption] = newPriceOfOption;
                }
            } else {
                newPriceForProduct = parseFloat(newPriceForProduct) + parseFloat(newPriceOfOption);
                priceArray.change[idOption] = newPriceOfOption;
            }
            changePriceShow(newPriceForProduct);
        }

        function appendPriceArray(idOptionType, newPriceOfOption) {
            var newPriceForProduct = currentPrice;
            if (priceArray.append[idOptionType] !== undefined) {
                if (parseFloat(newPriceOfOption) < 0) {
                    newPriceForProduct = parseFloat(newPriceForProduct) - parseFloat(priceArray.append[idOptionType]);
                    delete priceArray.append[idOptionType];
                }
                else {
                    newPriceForProduct = parseFloat(newPriceForProduct) + parseFloat(newPriceOfOption);
                    priceArray.append[idOptionType] = newPriceOfOption;
                }
            } else {
                newPriceForProduct = parseFloat(newPriceForProduct) + parseFloat(newPriceOfOption);
            }
            changePriceShow(newPriceForProduct);
        }

        function changePriceShow(newPrice) {
            currentPrice = parseFloat(newPrice).toFixed(2);
            var productPriceSpan = $(productPrice).find('span');
            productPriceSpan.text(symbol + currentPrice);
            productPriceTicket.value = currentPrice;
        }

        $(radio).each(function (index, element) {
            $(element).change(function () {
                var str = $(this).val();
                var res = str.split("_");
                changePriceArray(res[2], res[0]);
            });
        });
        // var optionTest = document.getElementById("product_ticket_test");
        var obj = {};
        $(checkbox).each(function (index, element) {
            $(element).change(function () {
                var str = $(this).val();
                var res = str.split("_");
                if (this.checked == true) {
                    // currentPrice = parseFloat(currentPrice) + parseFloat($(this).val());
                    appendPriceArray(res[1], res[0]);
                    obj[res[1]] = res[0];
                } else {
                    appendPriceArray(res[1], "-" + res[0]);
                    var key = res[1];
                    delete obj[key];
                }
                // optionTest.value = JSON.stringify(obj);
            });
        });

        $('input[name="ticket_select_location"]').change(function () {
            $("#fieldset_date").empty();
            $("#fieldset_session").empty();
            $("#ticket_location_map").empty();
            optionLocation.value = $(this).val();
            var locationSendRequest = returnDate + '?location_id=' + $(this).val();
            getDateData(locationSendRequest);
        });

        function getDateData(locationSendRequest) {
            $.ajax({
                url: locationSendRequest,
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    if (response.length > 1) {
                        var dateResponseArray = JSON.parse(response);
                        var dateTemplate = " ";
                        var locationTemplate = " ";
                        if (dateResponseArray['date_data'].length > 0) {
                            if (dateResponseArray['date_data'].length <= 1) {
                                dateTemplate += ' <label class="label_rule">';
                                dateTemplate += ' <span>' + 'Select Date' + '</span>';
                                dateTemplate += ' </label>';
                                dateTemplate += ' <label class="ticket_select_date unique-value">';
                                dateTemplate += ' <span>' + dateResponseArray['date_data'][0]['date'] + '</span>';
                                dateTemplate += ' </label>';
                                optionDate.value = dateResponseArray['date_data'][0]['date_id'];
                                $("#fieldset_session").empty();
                                var dateSendRequest = returnSession + '?date_id=' + dateResponseArray['date_data'][0]['date_id'];
                                getSessionData(dateSendRequest);

                            } else {
                                dateTemplate += ' <label class="label_rule">';
                                dateTemplate += ' <span>' + 'Select Date' + '</span>';
                                dateTemplate += ' </label>';
                                dateTemplate += '<div class="field required">';
                                dateTemplate += '<div class="control">';
                                for (var i = 0; i < dateResponseArray['date_data'].length; i++) {

                                    dateTemplate += '<input type="radio" name="ticket_select_date" id="select_date-'
                                        + dateResponseArray['date_data'][i]['date_id']
                                        + '" value="'
                                        + dateResponseArray['date_data'][i]['date_id']
                                        + '" style="display: none;">'
                                        + '<label for="select_date-'
                                        + dateResponseArray['date_data'][i]['date_id']
                                        + '"><span>'
                                        + dateResponseArray['date_data'][i]['date']
                                        + '</span></label>';
                                }
                                dateTemplate += '</div>';
                                dateTemplate += '</div>';
                            }

                        }

                        if (dateResponseArray['location_data']) {
                            var locationDetail = dateResponseArray['location_data'].replace(/\s+/g, '+');
                            var srcMap = 'https://www.google.com/maps/embed/v1/place?key=' + apiKey + '&q=' + locationDetail;
                            locationTemplate += '<iframe width="100%"  height="350" frameborder="1" style="border:0" ' +
                                'src=' + srcMap +
                                ' allowfullscreen >';
                            locationTemplate += '</iframe>';
                        }
                        $("#ticket_location_map").append(locationTemplate);
                        $("#fieldset_date").append(dateTemplate);
                        $('input[name="ticket_select_date"]').change(function () {
                            optionDate.value = $(this).val();
                            $("#fieldset_session").empty();
                            var dateSendRequest = returnSession + '?date_id=' + $(this).val();
                            getSessionData(dateSendRequest);
                        });

                    }
                },
                showLoader: true
            });
        }

        function getSessionData(dateSendRequest) {
            $.ajax({
                url: dateSendRequest,
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    if (response.length > 1) {
                        var sessionResponseArray = JSON.parse(response);
                        var sessionTemplate = " ";
                        if (sessionResponseArray.length > 0) {
                            if (sessionResponseArray.length <= 1) {
                                sessionTemplate += ' <label class="label_rule" for="ticket_select_session">';
                                sessionTemplate += ' <span>' + 'Select Time' + '</span>';
                                sessionTemplate += ' </label>';
                                sessionTemplate += ' <label class="ticket_select_session unique-value">';
                                sessionTemplate += ' <span>' + sessionResponseArray[0]['time_session'] + '</span>';
                                sessionTemplate += ' </label>';
                                optionSession.value = sessionResponseArray[0]['session_id'];
                            } else {
                                sessionTemplate += ' <label class="label_rule" for="ticket_select_session">';
                                sessionTemplate += ' <span>' + 'Select Time' + '</span>';
                                sessionTemplate += ' </label>';
                                sessionTemplate += '<div class="field required">';
                                sessionTemplate += '<div class="control">';
                                for (var i = 0; i < sessionResponseArray.length; i++) {

                                    sessionTemplate += '<input type="radio" name="ticket_select_session" id="select_session-'
                                        + sessionResponseArray[i]['session_id']
                                        + '" value="'
                                        + sessionResponseArray[i]['session_id']
                                        + '" style="display: none;">'
                                        + '<label for="select_session-'
                                        + sessionResponseArray[i]['session_id']
                                        + '">'
                                        + sessionResponseArray[i]['time_session']
                                        + '</label>';
                                }
                                sessionTemplate += '</div>';
                                sessionTemplate += '</div>';
                            }
                        }

                        $("#fieldset_session").append(sessionTemplate);
                        $('input[name="ticket_select_session"]').change(function () {
                            optionSession.value = $(this).val();
                        });
                    }
                },
                showLoader: true
            });
        }

        $("#product-addtocart-button").on('click', function (event) {
            var allRequiredCheckbox = $('div.checkbox-group.required').length;
            var checkedRequiredCheckout = $('div.checkbox-group.required :checkbox:checked').length;
            if (allRequiredCheckbox > checkedRequiredCheckout) {
                event.preventDefault();
                $('div.checkbox-group.required').each(function () {
                    var checked = false;
                    var checkboxs = $(this).find("input");
                    checkboxs.each(function () {
                        if ($(this).is(':checked')) {
                            checked = true;
                        }
                    });
                    var id = $(this).attr("id");
                    if (checked === false)
                        $("#" + id + "-error").show();
                    else
                        $("#" + id + "-error").hide();
                });
                return;
            }
            else
                $(this).trigger('click');
        });
    });
</script>