.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.catalog-product-view .product-options-wrapper {
    width: 100% !important;
}

.product-info .product-view .price-box.price-final_price {
    height: auto;
    overflow: hidden;
}


/*  */
.page-layout-1column .main > .product.media{
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.page-layout-1column .main > .product-info-main{
    width: 100%;
    position: relative;
}
.main > .product.media > img{
    display: block;
    width: 100%;
}
.main > .product.media .eventproduct-image{
    width: 100%;
    height: 0;
    padding-bottom: 48%;
    background-image: url("../images/image-placeholder.jpg");
    background-size: cover;
    background-position: center;
}
.main > .product.media .product-info-main{
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    padding: 25px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    max-width: 50%;
    border-radius: 8px;
}
.main > .product.media .product-info-main h1.page-title{
    margin: 0 0 20px;
}
.main > .product.media .product-info-main .product-reviews-summary{
    float: right;
    margin-bottom: 0;
}
.main > .product-info-main .product-info-price{
    margin: 0;
    position: absolute;
    border: none;
    width: auto;
}
.main > .product-info-main .product-info-price .price-box{
    vertical-align: middle;
    height: 45px;
    padding: 15px 0;
}
.main > .product-info-main .product-add-form{
    padding: 0;
}
.main > .product-info-main .product-add-form .product-options-wrapper .product-options-container,
.main > .product-info-main .product-add-form #ticket_option_single{
    margin-bottom: 20px;
    background: #fafafa;
    border: 1px dashed #ccc;
    padding: 15px;
    clear: both;
}
.main > .product-info-main .product-add-form .product-options-wrapper #advancedoption{
    margin: 0;
}
.main > .product-info-main .product-add-form .product-event__location{
    width: 370px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    float: right;
    box-shadow: 1px 1px 5px #ccc;
}
.main > .product-info-main .product-add-form .product-event__location:after{
    content: "";
    display: block;
    clear: both;
}
.main > .product-info-main .product-add-form .product-event__location h3.product-event__boxlabel{
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
    font-weight: bold;
}
.main > .product-info-main .product-add-form .product-event__location h3.product-event__boxlabel:after{
    content: "\f041";
    font-family: FontAwesome;
    font-size: 36px;
    margin-left: 10px;
    color: #ff5502;
}
.main > .product-info-main .product-add-form .product-event__location .product-event__boxcontent{
    font-family: monospace;
    font-size: 14px;
}
.main > .product-info-main .product-add-form .product-event__location a.view-map{
    float: right;
}
.main > .product-info-main .product-add-form .product-event__location a.more-choices{
    float: left;
}
.main > .product-info-main .product-add-form table tbody tr th.ticket_location_map{
    padding: 45px 0 0;
}
.main > .product-info-main .product-add-form #ticket_option_single iframe{
    margin-top: 45px;
}
.main > .product-info-main .product-add-form table tbody tr th.ticket_location_map iframe{
    display: block;
}
.main > .product-info-main .product-add-form .box-tocart{
    text-align: right;
    padding: 10px 0;
    margin: 0 0 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main > .product-info-main .product-add-form .box-tocart:after{
    content: "";
    display: block;
    clear: both;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset{
    display: table;
    float: right;
    position: relative;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset #register_required{
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > .field.qty{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > .field.qty label{
    margin-right: 5px;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > .field.qty > .control{
    display: inline-block;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > #register_tickets{
    display: table-cell !important;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > #register_tickets:before{
    content: "\f2bc";
    font-family: FontAwesome;
    font-size: 23px;
    vertical-align: middle;
    margin-right: 5px;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > #register_tickets span{
    font-weight: bold;
}
.main > .product-info-main .product-add-form .box-tocart > .fieldset > .actions{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    width: 400px;
    padding-left: 30px;
}
.main > .product-info-main .product-add-form .box-tocart #product-addtocart-button{
    width: 100%;
    text-transform: uppercase;
    height: 45px;
    padding: 0 10px;
    font-size: 16px;
}
.main > .product-info-main .product-social-links{
    position: absolute;
    z-index: 2;
    bottom: 100%;
    margin: 10px;
    padding: 10px;
    width: 50%;
}
.page-layout-1column .main > .product-info-main .product-info-shortdes{
    margin: 35px 10px 35px 15px;
    width: calc(100% - 420px);
    float: left;
}

/* Date-icon */
.main > .product-info-main .product-add-form .date-icon {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: #f9f5ef;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #777;
    color: #333;
}
.main > .product-info-main .product-add-form .date-icon .month {
    margin: 0;
    padding: 5px;
    border-radius: 8px 8px 0 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.main > .product-info-main .product-add-form .date-icon .day {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 28px;
}
.main > .product-info-main .product-add-form .date-icon.make-choice {
    position: relative;
    display: table;
}
.main > .product-info-main .product-add-form .date-icon.make-choice:before,
.main > .product-info-main .product-add-form .date-icon.make-choice:after,
.main > .product-info-main .product-add-form .date-icon.make-choice a:before,
.main > .product-info-main .product-add-form .date-icon.make-choice a:after{
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 2px #777;
}
.main > .product-info-main .product-add-form .date-icon.make-choice:before{
    top: 6px;
    left: 6px;
}
.main > .product-info-main .product-add-form .date-icon.make-choice:after{
    top: 6px;
    right: 6px;
}
.main > .product-info-main .product-add-form .date-icon.make-choice a:before{
    bottom: 6px;
    left: 6px;
}
.main > .product-info-main .product-add-form .date-icon.make-choice a:after{
    bottom: 6px;
    right: 6px;
}
.main > .product-info-main .product-add-form .date-icon.make-choice a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.main > .product-info-main .product-add-form .product-options-wrapper .field:not(.date) > .control{
    width: 100%;
}
.fieldset_location:after{
    content: "";
    display: block;
    clear: both;
}
.fieldset_date:after{
    content: "";
    display: block;
    clear: both;
}
.fieldset_session:after{
    content: "";
    display: block;
    clear: both;
}
.main > .product-info-main .product-add-form label.label_rule{
    display: block;
    margin: 25px 0 20px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
}
.fieldset_location input[name="ticket_select_location"] + label,
.fieldset_location label.ticket_select_location{
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f9f5ef;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #ccc;
    color: #333;
    font-weight: 600;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fieldset_location input[name="ticket_select_location"]:checked + label,
.fieldset_location label.ticket_select_location.unique-value{
    box-shadow: 1px 1px 3px #777;
    background: #333;
    color: #fff;
}
.fieldset_location input[name="ticket_select_location"] + label:before,
.fieldset_location label.ticket_select_location:before{
    content: "\f041";
    font-family: FontAwesome;
    font-size: 36px;
    font-weight: 400;
    margin-right: 10px;
    color: #ff5502;
}
.fieldset_location input[name="ticket_select_location"]:checked + label:before,
.fieldset_location label.ticket_select_location.unique-value:before{
    color: #fff;
}
.fieldset_date input[name="ticket_select_date"] + label,
.fieldset_date input[name="ticket_change_date"] + label,
.fieldset_date label.ticket_select_date{
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #f9f5ef;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #ccc;
    color: #333;
    font-weight: 600;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    width: 135px;
}
.fieldset_date input[name="ticket_select_date"] + label:before,
.fieldset_date input[name="ticket_change_date"] + label:before,
.fieldset_date label.ticket_select_date:before{
    content: "Date";
    display: none;
    padding: 5px;
    background-color: #ff5502;
    border-radius: 8px 8px 0 0;
    text-align: center;
    color: #fff;
}
.fieldset_date input[name="ticket_select_date"]:checked + label,
.fieldset_date input[name="ticket_change_date"]:checked + label,
.fieldset_date label.ticket_select_date.unique-value{
    background-color: #333;
    color: #fff;
}
.fieldset_date input[name="ticket_select_date"]:checked + label:before,
.fieldset_date input[name="ticket_change_date"]:checked + label:before,
.fieldset_date label.ticket_select_date.unique-value:before{
    background-color: #333;
}
.fieldset_date input[name="ticket_select_date"] + label span,
.fieldset_date input[name="ticket_change_date"] + label span,
.fieldset_date label.ticket_select_date span{
    display: block;
    padding: 10px;
}
.fieldset_session input[name="ticket_select_session"] + label,
.fieldset_session input[name="ticket_multi_session"] + label,
.change_session input[name="ticket_change_session"] + label,
.fieldset_session label.ticket_select_session,
.change_session label.ticket_change_session{
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f9f5ef;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #ccc;
    color: #333;
    font-weight: 600;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fieldset_session input[name="ticket_select_session"]:checked + label,
.fieldset_session input[name="ticket_multi_session"]:checked + label,
.change_session input[name="ticket_change_session"]:checked + label,
.fieldset_session label.ticket_select_session.unique-value,
.change_session label.ticket_change_session.unique-value{
    background-color: #333;
    color: #fff;
}
.fieldset_form select#ticket_select_form{
    width: 100%;
    box-shadow: 1px 1px 3px #ccc;
    height: 40px;
    background-color: #f9f5ef;
}
.fieldset_form select#ticket_select_form option{
    background-color: #fff;
}


@media (max-width: 991px) {
    .main > .product-info-main .product-info-price{
        position: relative;
    }
    .main > .product-info-main .product-info-price .price-box .price-container > span{
        margin: 0;
    }
}
@media (max-width: 767px) {
    .main > .product.media .product-info-main{
        position: static;
        max-width: 100%;
    }
    .main > .product-info-main .product-social-links{
        position: static;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .page-layout-1column .main > .product-info-main .product-info-shortdes{
        width: 100%;
        margin: 0 0 15px;
        float: none;
    }
    .main > .product-info-main .product-add-form .product-event__location{
        float: none;
        clear: both;
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 480px){
    .main > .product-info-main .product-add-form .box-tocart > .fieldset{
        display: block;
        width: 100%;
    }
    .main > .product-info-main .product-add-form .box-tocart > .fieldset > .actions{
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
    .main > .product-info-main .product-add-form .box-tocart > .fieldset > .field.qty label{
        margin-bottom: 0;
    }
}