<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magenest\Ticket\Block\Order\Email\Items\Order\Ticket */
/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <p class="sku"><?= /* @escapeNotVerified */  __('SKU'); ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        <?php if ($_item->getProductType() == 'ticket'): ?>
            <dl class="item-options-ticket">
                <?php foreach ($_item->getProductOptions() as $_option): ?>
                    <?php if (isset($_option['additional_options']) && $_option['additional_options']) {?>
                        <div class="product-option-block">
                            <?php $data = $block->getDataTicket($_option['additional_options']); ?>
                            <?php if (!empty($data['location_title'])) {?>
                                <span> <?php echo 'Location : '.$data['location_title']; ?></span><br>
                            <?php } ?>
                            <?php if (!empty($data['date'])) {?>
                                <span> <?php echo 'Date :'.$data['date']; ?></span><br>
                            <?php } ?>
                            <?php if (!empty($data['start_time']) || !empty($data['end_time'])) {?>
                                <span> <?php echo 'Time : '.$data['start_time'].$data['end_time'] ?></span><br>
                            <?php } ?>
                            <span> <?php echo __('Options:') ?> </span><br>
                            <?php if (isset($_option['additional_options']['dropdown']) && !empty($_option['additional_options']['dropdown'])) {?>
                                <?php foreach ($_option['additional_options']['dropdown'] as $dropdown){?>
                                    <?php $values = explode("_", $dropdown); ?>
                                    <span><?= $block->getTitleOption($values[2]) . ': ' . $block->getTitleOptionType($values[1])?></span><br>
                                <?php }?>
                            <?php } ?>
                            <?php if (isset($_option['additional_options']['radio']) && !empty($_option['additional_options']['radio'])) {?>
                                <?php foreach ($_option['additional_options']['radio'] as $radio){?>
                                    <?php $values = explode("_", $radio); ?>
                                    <span><?= $block->getTitleOption($values[2]) . ': ' . $block->getTitleOptionType($values[1])?></span><br>
                                <?php }?>
                            <?php } ?>
                            <?php if (isset($_option['additional_options']['checkbox']) && !empty($_option['additional_options']['checkbox'])) {?>
                                <?php foreach ($_option['additional_options']['checkbox'] as $checkbox){?>
                                    <?php foreach ($checkbox as $cb){?>
                                        <?php $values = explode("_", $cb); ?>
                                        <span><?= $block->getTitleOption($values[2]) . ': ' . $block->getTitleOptionType($values[1])?></span><br>
                                    <?php }?>
                                <?php }?>
                            <?php } ?>
                            <br>
                        </div>
                    <?php } ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php if ($block->getItemOptions()): ?>
            <dl class="item-options">
                <?php foreach ($block->getItemOptions() as $option): ?>
                    <dt><strong><em><?= /* @escapeNotVerified */  $option['label'] ?></em></strong></dt>
                    <dd>
                        <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                    </dd>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></td>
    <td class="item-price">
        <?= /* @escapeNotVerified */  $block->getItemPrice($_item); ?>
    </td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
    <tr>
        <td colspan="3" class="item-extra">
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:'); ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>
